body, p, h1, h2, ul, li, blockquote{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  height: 5000px;
}

body{
  font-family: "Roboto", sans-serif;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

/* ESTILOS GERAIS */

.container{
  max-width: 1140px;
  margin: 0 auto;
}

/* HEADER */

.header{
  display: flex;
  align-items: center;
  width: 100vw;
  background: #ffc600;
  min-height: 65px;
}

.header-fixed{
  width: 100vw;
  background: #ffc600;
  padding: 8px 0;
  position: fixed;
  top: 0;
}

.menu-items{
  display: grid;
  grid-template-columns: 1fr 1fr 9fr 1fr;
  gap: 20px;
}

.btn-menu{
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 0;
  padding: 10px;
  color: #333333;
}

.btn-menu:hover{
  border-radius: 5px;
  background-color: #fff;
}

.btn-menu img{
  width: 19px;
  height: 19px;
  fill: currentColor;
  margin-right: 16px;
}

.btn-menu span:last-child{
  color: currentColor;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.logo{
  align-self: center;
  justify-self: center;
}

.logo img{
  height: 40px;
}

.search-bar{
  width: 90%;
  height: 48px;
  border-radius: 500px;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.search-bar[type="text"]{
  box-sizing: border-box;
  padding-left: 2em;
  font-family: 'Roboto', sans-serif;
  font-size: 16px; 
}

.btn-entrar{
  height: 48px;
  background-color: #fff;
  border: 1px solid #3790f8;
  border-radius: 5px;
  color: #3790f8;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn-entrar:hover{
  background-color: #3790f8;
  color: #fff;
}

/* CONTEUDO PRINCIPAL */

.aviso-header{
  width: 100vw;
  background-color: #333333;
  padding: 15px 0;
}

.aviso-header .container{
  text-align: center;
}

.aviso-header a{
  color: #fff;
  font-weight: 600;
}

.aviso-header a:hover{
  text-decoration-line: underline;
}